*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body{
   font-family: Poppins, Arial, sans-serif;
   background-image: url("/assets/bg.png");
   background-size:cover;
   display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main{
<<<<<<< HEAD
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}
.left{
    height: 65vh;
    width: 300px;
    flex-shrink: 0;
=======
    display: flex; 
    align-items: center;
    justify-content: center; 
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */

}
.left{
    height: 65vh;
    width: 25vw;
>>>>>>> e81771862bcd07364949fe41b2ca02edfdfa55f3
    background-image: url("/assets/l1.png");
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 4vh;
    border-top-left-radius: 4vh;
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    flex-wrap: wrap;
=======
    flex-wrap: wrap;    
>>>>>>> e81771862bcd07364949fe41b2ca02edfdfa55f3
    align-items: center;
    /* color:#e6f0ff; */
    color: whitesmoke;
}

.logo{
    width: 7vw;
    height: 10vh;
    margin:2rem 0rem 1rem;
    background-image: url("/assets/logo.png");
    background-size: cover;
    background-position: center;
}

.left h2{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

 
.content{
    text-align: left;
    font-size: 1rem;
    line-height: 1.5;
    margin:0.5rem 0rem 4rem 1rem;
}

.right{
    height: 65vh;
<<<<<<< HEAD
    flex: 1;
=======
    width: 25vw;
>>>>>>> e81771862bcd07364949fe41b2ca02edfdfa55f3
    background-color: whitesmoke;
    border-bottom-right-radius: 4vh;
    border-top-right-radius: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
<<<<<<< HEAD
=======
    flex-wrap: wrap;
>>>>>>> e81771862bcd07364949fe41b2ca02edfdfa55f3
    align-items: center;
    color:#111f3a;
    padding: 0 2rem;
}
 

.right h2{
    color: black;
    font-size: 2.5rem;
    margin:4rem 0rem 1rem;
}      

.right h3{
     color: black;
    font-size: 2.5rem;
    margin:2rem 0rem 1rem;
}

.right p{
    text-align: center;
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}

#username {
    width: 90%;
    height: 2rem;
    border-radius: 0.5rem;
    border: 1px solid #111f3a;
    font-size: 1rem;
    margin-bottom: 1rem;
}
#password {
    width: 90%;
    height: 2rem;
    border-radius: 0.5rem;
    border: 1px solid #111f3a;
    font-size: 1rem;
    margin-bottom: 1rem;
}

#username1, #password1 {
    width: 90%;
    height: 2rem;
    border-radius: 0.5rem;
    border: 1px solid #111f3a;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.form-group {
    width: 100%;
<<<<<<< HEAD
    font-size: 0.7rem;
    display: block;
}
=======
    height: 1rem;
     font-size: .7rem;
     display: flex;
     justify-content: space-between;
    }
>>>>>>> e81771862bcd07364949fe41b2ca02edfdfa55f3
.form-checkbox {
    display: flex;
    align-items: center;
}
#remember-me{
     
    height: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #111f3a;
    font-size: 1rem; 
}

.form-group p{
    color: #111f3a;
    font-size: 0.7rem;
    margin-left: 0.5rem;
}

.loginbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.logbtn{
    width: 80%;
    height: 2.5rem;
    background-color: #111f3a;
    color: whitesmoke;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    
     
    
}

.logbtn:hover{
    background-color: #000205;
}

#dha{
    margin-top: 1rem;
}

/* signup */
.form-check{
    font-size: 0.8rem;
    margin-bottom: 1rem;
}
 



@media(max-width:1240px) {



.left{
  
    height: 50vh;
    width: 35vw;
    background-image: url("/assets/l1.png");
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 4vh;
    border-top-left-radius: 4vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
    align-items: center;
    /* color:#e6f0ff; */
    color: whitesmoke;
}


.left h2{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0rem;
}

 
.content{
    text-align: left;
    font-size: 0.8rem;
    line-height: 1.5;
    margin:0.5rem 0rem 2rem 1rem;
}

.right{
    height: 50vh;
    width: 35vw;
    background-color: whitesmoke;
    border-bottom-right-radius: 4vh;
    border-top-right-radius: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    color:#111f3a;
    padding: 0 2rem;
}
 

.right h2{
    color: black;
    font-size: 1.5rem;
    margin:2rem 0rem 1rem;
}      

.right h3{
     color: black;
    font-size: 1.5rem;
    margin:2rem 0rem 1rem;
}

.right p{
    text-align: center;
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: .5rem;
}

#username-label, #password-label {
    font-size: 0.8rem;
    color: #111f3a;
    margin-bottom: 0.5rem;
}

<<<<<<< HEAD
#username, #password, #confirmPassword, #role {
    width: 100%;
    height: 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid #111f3a;
    font-size: 0.8rem;
=======
#username,#password {
    width: 90%;
    height: 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid #111f3a;
    font-size: .8rem;
    margin-bottom: 1rem;
}
#username1,#password1 {
    width: 90%;
    height: 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid #111f3a;
    font-size: .8rem;
>>>>>>> e81771862bcd07364949fe41b2ca02edfdfa55f3
    margin-bottom: 1rem;
}

}

@media (max-width:990px) {
<<<<<<< HEAD
    #username, #password, #confirmPassword, #role {
=======
    #username1, #password1 {
>>>>>>> e81771862bcd07364949fe41b2ca02edfdfa55f3
    width: 80%;
    height: 1rem;
    border-radius: 0.2rem;
    border: 1px solid #111f3a;
    font-size: 1rem;
    margin-bottom: 1rem;
}
    .form-check{
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
}

    .form-group p{
    color: #111f3a;
    font-size: 0.6rem;
    margin-left: 0.4rem;
}
}

@media(max-width:768px) {
 
.logo{
    width: 10vw;
    height: 7vh;
    margin:2rem 0rem 1rem;
    background-image: url("/assets/logo.png");
    background-size: cover;
    background-position: center;
}    

.left h2{
    text-align: center;
    font-size: 1rem;
    
}

.content{
    text-align: left;
    font-size: 0.7rem;
    line-height: 1.5;
    margin:0.5rem 0rem 2rem 1rem;
}

.right h2{
    color: black;
    font-size: 1.3rem;
    margin:2rem 0rem 1rem;
}      

.right h3{
     color: black;
    font-size: 1.3rem;
    margin:2rem 0rem 1rem;
}

.right p{
    text-align: center;
    font-size: 0.7rem;
    line-height: 1;
    margin-bottom: .5rem;
}

#username-label, #password-label {
    font-size: 0.8rem;
    color: #111f3a;
    margin-bottom: 0.5rem;
}

<<<<<<< HEAD
#username, #password, #confirmPassword, #role {
    width: 90%;
    height: 1rem;
    border-radius: 0.2rem;
    border: 1px solid #111f3a;
    font-size: 0.8rem;
=======
#username,#password {
    width: 90%;
    height: 1 rem;
    border-radius: 0.5rem;
    border: 1px solid #111f3a;
    font-size: .8rem;
    margin-bottom: 1rem;
}
#username1,#password1 {
    width: 90%;
    height: 1rem;
    border-radius: 0.2rem;
    border: 1px solid #111f3a;  
    font-size: .8rem;
>>>>>>> e81771862bcd07364949fe41b2ca02edfdfa55f3
    margin-bottom: 0.5rem;
}
.form-group {
    width: 100%;
<<<<<<< HEAD
    font-size: 0.5rem;
    display: block;
}
=======
    height: 0.8rem;
     font-size: .5rem;
     display: flex;
     justify-content: space-between;
    }
>>>>>>> e81771862bcd07364949fe41b2ca02edfdfa55f3
.form-checkbox {
    display: flex;
    align-items: center;
}
 

.form-group p{
    color: #111f3a;
    font-size: 0.6rem;
    margin-left: 0.2rem;
}

.loginbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.logbtn{
    width: 80%;
    height: 1.5rem;
    background-color: #111f3a;
    color: whitesmoke;
    border: none;
    border-radius: 0.2rem;
    font-size: 1rem;
    cursor: pointer;
    margin:1rem;
     
    
}

.reg{
    margin-top: 0.2rem;
}

 #terms{
     position: relative;
     bottom: -2px;
}
#dha{
    margin-top: 0.5rem;
}

/* signup */
.form-check{
    font-size: 0.6rem;
    margin-bottom: 1rem;
}

}

@media(max-width:480px) {
 .left{
    height: 50vh;
    width: 42vw;
    background-image: url("/assets/l1.png");
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 4vh;
    border-top-left-radius: 4vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
    align-items: center;
    /* color:#e6f0ff; */
    color: whitesmoke;
}

.logo{
    width: 14vw;
    height: 7vh;
    margin:2rem 0rem 0.5rem;
    background-image: url("/assets/logo.png");
    background-size: cover;
    background-position: center;
}

.left h2{
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: .5rem;
    
}

 
.content{
    text-align: left;
    font-size: 10px;
}

.content1{
    font-size: 10px;
}

.right{
    height: 50vh;
    width: 42vw;
    background-color: whitesmoke;
    border-bottom-right-radius: 4vh;
    border-top-right-radius: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    color:#111f3a;
    padding: 0rem 1rem;
}
 

.right h2{
    color: black;
    font-size: 1.5rem;
    margin:2rem 0rem 0.5rem;
}      

.right h3{
     color: black;
    font-size: 1.5rem;
    margin:2rem 0rem 1rem;
}

.right p{
    text-align: center;
    font-size: 0.7rem;
    line-height: 1;
    margin-bottom: 1rem;
}

<<<<<<< HEAD
#username, #password, #confirmPassword, #role {
=======
#username, #password {
    width: 80%;
    height: 1rem;
    border-radius: 0.3rem;
    border: 1px solid #111f3a;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
 

#username1, #password1 {
>>>>>>> e81771862bcd07364949fe41b2ca02edfdfa55f3
    width: 80%;
    height: 1rem;
    border-radius: 0.3rem;
    border: 1px solid #111f3a;
    font-size: 0.7rem;
    margin-bottom: 0.3rem;
}
#username-label, #password-label{
    font-size: 0.7rem;;
}

#ia{
    font-size: 0.6rem;
    margin-top: 1rem;
}

.form-group {
    width: 100%;
    height: 0.5rem;
     font-size: .5rem;
     display: block;
    }
.form-checkbox {
    display: block;
    
}
 

#rm{
    font-size: 0.7em;
     
}

.form-group p{
    color: #111f3a;
    font-size: 0.7rem;
    margin-left: 0.5rem;
}

.loginbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}
.logbtn{
    width: 80%;
    height: 1.5rem;
    background-color: #111f3a;
    color: whitesmoke;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
   
     
    
}

.logbtn:hover{
    background-color: #000205;
}

#dha{
    margin-top: 0.4rem;
}

#fp{
    font-size: 0.5rem;  
    text-align: left;
    position: relative;
    left: -15px;
}
#terms{
     position: relative;
     bottom: -2px;
}
/* signup */
.form-check{
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
    margin-top: 0.4rem;
}    
}